{% extends "header&footer.html" %}

{% block title_block %} <title> Password Reset </title> {% endblock %}

{% block body_block %}
    <h1>Password Reset</h1>
    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="mb-3 col-9 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                {{ field }}

                {% if field.help_text %}
                <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit" value="Reset password" class="btn btn-warning">
    </form>
{% endblock %}