{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {# For proper responsive behavior in mobile devices #}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title_block %} <title> </title> {% endblock %}

        {% block favicon_block %} <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_tr/favicon-32x32.png' %}"> {% endblock %}

        {# Google tag (gtag.js) for Google Analytics #}
{#        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GXXN9RR5RR"></script>#}
{#        <script>#}
{#            window.dataLayer = window.dataLayer || [];#}
{#            function gtag(){dataLayer.push(arguments);}#}
{#            gtag('js', new Date());#}
{##}
{#            gtag('config', 'G-GXXN9RR5RR');#}
{#        </script>#}

        {# CSS #}
        {# Bootstrap (CSS only) #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        {# JS #}
        {# jquery #}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        {# Bootstrap (JavaScript Bundle with Popper) #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        {% block source_block %} {% endblock %}
    </head>

    <body>
        {# Bootstrap navbar (header) #}
        <div class="container-fluid gx-0 mb-2">
            <nav class="navbar navbar-expand-md" id="header_nav">

                {# Brand logo #}
                <a class="navbar-brand ms-3" href="{% url 'home' %}">
                    <img src="{% static 'favicon_tr/favicon-32x32.png' %}" width="32" height="32" alt="Time Tracker Logo">
                </a>

                {# Hamburger collapse button #}
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {# Main navbar #}
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'classic_tracker:dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">View</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:list_stage' %}"> My Stages </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:list_day' %}"> My Days </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:list_subject' %}"> My Subjects </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:list_session' %}"> My Sessions </a> </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Create</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:create_stage' %}"> Create Stage </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:create_day' %}"> Create Day </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:create_subject' %}"> Create Subject </a> </li>
                                <li> <a class="dropdown-item" href="{% url 'classic_tracker:create_session' %}"> Create Session</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'update_user' user.id %}"> {{user.get_username}} </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"> Log Out </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration' %}"> Registration </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"> Log In </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <script>
            /**
             * Set page theme (dark/light).
             * @param new_theme New theme
             * @param set_cookie Whether to set theme cookie
             * @returns
             */
            function set_theme(new_theme, set_cookie=true) {
                if (new_theme === "dark") {
                    header_nav.removeClass('navbar-light bg-light').addClass('navbar-dark bg-dark');
                    theme_switch.classList.remove('btn-dark');
                    theme_switch.classList.add('btn-light');
                    theme_switch.innerText = '☀️';
                    theme = 'dark';
                } else {
                    header_nav.removeClass('navbar-dark bg-dark').addClass('navbar-light bg-light');
                    theme_switch.classList.remove('btn-dark');
                    theme_switch.classList.add('btn-dark');
                    theme_switch.innerText = '🌙';
                    theme = 'light';
                }
                {# Set/update theme cookie which is valid for 30 days #}
                if (set_cookie) {
                    document.cookie = `theme=${theme}; path=/; max-age=2592000; SameSite=lax; Secure`;
                }
            }

            /**
             * Toggle page theme.
             * @returns
             */
            function switch_theme() {
                if (theme === "dark") {
                    set_theme("light");
                } else {
                    set_theme("dark");
                }
            }

            let hour = (new Date).getHours();
            let header_nav = $('#header_nav');
            let theme;

            {# Create theme switch button #}
            const theme_switch_wrapper = document.createElement('div');
            const theme_switch = document.createElement('button');
            theme_switch_wrapper.appendChild(theme_switch);
            theme_switch_wrapper.style.cssText = "position: fixed; right: 0; bottom: 152px; opacity: 0.5; z-index: 10000000;";
            theme_switch.setAttribute("type", "button");
            theme_switch.setAttribute("id", "theme_switch");
            theme_switch.classList.add('btn');
            theme_switch.addEventListener("click", switch_theme);

            {# Set theme depending first on cookie, then user time #}
            if (document.cookie.includes("theme=")) {
                if (document.cookie[document.cookie.indexOf("theme=") + 6] === "d") {
                    set_theme("dark");
                } else {
                    set_theme("light");
                }
            } else if (hour <= 7 || hour >= 18) {
                set_theme("dark", false);
            } else {
                set_theme("light", false);
            }
            document.body.appendChild(theme_switch_wrapper);
        </script>

        <div class="container">
        {% block body_block %}
        {% endblock %}
        </div>

        {% cache None footer %}
        {# Bootstrap footer #}
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <a href="/" class="col-md-4 d-flex align-items-center justify-content-start link-dark text-decoration-none">
                    <img class="bi me-3" src="{% static 'favicon_tr/favicon-32x32.png' %}" width="32" height="32" alt="Time Tracker Logo">
                    <p class="mb-0 text-muted justify-content-start">&copy; 2022</p>
                </a>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="{% url 'FAQs' %}" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">About</a></li>
                    <li class="nav-item">
                        <a href="https://github.com/fxie520/Time-Tracker" class="nav-link px-2 text-muted">
                            <img src="{% static 'classic_tracker/Icons/Github.svg' %}" alt="GitHub Logo" height="20">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        {% endcache %}
    </body>
</html>