{% extends "header&footer.html" %}

{% load static %}

{% block title_block %} <title> Stage Detail </title> {% endblock %}
{% block source_block %}
    {# My own JS utilities #}
    <script src="{% static 'pagination.js' %}"></script>
{% endblock %}

{% block body_block %}
    <h1> {{stage}} </h1>

    <h2> Detail information: </h2>
    <ul>
        <li> Description: {{stage.description}} </li>
        <li> Total work time: {{total_work_time}} </li>
        <li> Total usable time: {{total_usable_time}} </li>
        <li> Max usable time: {{max_usable_time}} </li>
        <li> Average usable time: {{avg_usable_time}} </li>
        <li> Total day study time: {{total_study_time}} </li>
        <li> Max day study time: {{max_study_time}} </li>
        <li> Average day study time: {{avg_study_time}} </li>
        <li> Average session time: {{avg_session_time}} </li>
        <li> Day count: {{stage.day_count}} </li>
        <li> Session count: {{stage.session_count}} </li>
        <li> Average # session per day: {{avg_session_per_day | floatformat}} </li>
        <li> Global time usage percentage: {{time_usage_percentage}}% </li>
        <li> Max time usage percentage: {{max_time_usage_percentage}}% </li>
        <li> Comment: {{ stage.comment }} </li>
    </ul>

    <h2> Days: </h2>
    <ul>
    {% for day in days %}
        <li>
            <a href="/classic_tracker/day/{{day.id}}"> {{day}} </a>
        </li>
    {% endfor %}
    </ul>

    {# Pagination link bar#}
    <nav>
        <ul class="pagination" id="pagination-ul">
            {# To complete with JS #}
        </ul>
    </nav>

    <script>
        {# Parse query string #}
        let urlSearchParams = new URLSearchParams(window.location.search);
        let current_page = parseInt(Object.fromEntries(urlSearchParams.entries())['page']) || 1;
        let href = new URL(window.location);

        let total_nb_pages = {{ total_nb_pages }};
        const pagination_ul = document.getElementById("pagination-ul");

        window.onload = function() {pagination()};
    </script>

{% endblock %}
