[run]
branch = True
source = .
omit =
    time_tracker/asgi.py
    time_tracker/wsgi.py
    time_tracker/environment_variables.py
    time_tracker/settings.py
    time_tracker/email_backend.py
    classic_tracker/templatetags/filters.py
    */migrations/*
    */__init__.py
    */apps.py
    */urls.py
    manage.py
    gunicorn_conf.py

[report]
show_missing = True
ignore_errors = True
fail_under = 80

[html]
skip_covered = True