Django~=4.1
djangorestframework~=3.14.0
drf-spectacular~=0.24.2
django-debug-toolbar~=3.6.0
boto3==1.24.85
botocore==1.27.85
numpy~=1.23.3
mysqlclient~=2.1.1
redis~=4.3.4
tzdata~=2022.4
gunicorn~=20.1.0
flake8~=5.0.4
coverage~=6.5.0
